<div class="home-tab tabs is-large is-boxed is-centered">
  <ul>
    <li><a href="/">Home</a></li>
    <li class="active-tab is-active"><a href="/profile">My Profile</a></li>
    <li><a href="/search">Search</a></li>
    <li><a>Chat</a></li>
  </ul>
</div>

  <main class="profile-main">

    <div class="columns card profile-card">
      <div class="column is-one-third profile-image-container">
        <img class="myprofile-image" src="/images/{{user.filename}}" alt="Placeholder image">
      </div>
      <div class="column">
        <div class="profile-button-container">
          <a href="/edit/profile">
            <button type="button" class="profile-edit-btn button is-link">Edit Profile</button>
          </a>
        </div>
        <p class="subtitle is-1">{{user.name}}, {{user.age}}</p>
        <p class="profile-subtitle subtitle is-5"><span class="profil-content-span">Gender:  </span>{{user.gender}}</p>
        <p class="profile-subtitle subtitle is-5"><span class="profil-content-span">Email:  </span>{{user.email}}</p>
        <p class="profile-subtitle subtitle is-5"><span class="profil-content-span">Phone:  </span>{{user.phone}}</p>
        <p class="profile-subtitle subtitle is-5"><span class="profil-content-span">Postcode:  </span>{{user.postcode}}</p>
        <p class="subtitle is-5"><span class="profil-content-span">Fun Fact:  </span>{{user.fun_fact}}</p>
       </div>     
    </div>
     
  </main>
